# Ignore node_modules
node_modules
**/node_modules

# Ignore .next build output
.next

# Ignore Docker files
docker-compose.yaml
Dockerfile


# Ignore git files
.git
.gitignore

# Ignore build artifacts
build

# Ignore screenshots if not needed
screenshots
